<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers accessPolicy="Read, Script">
            <add name="PHP via FastCGI" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="C:\Program Files\PHP7\php-cgi.exe" resourceType="File" requireAccess="Script" />
            <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
            <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit"
                path="*."
                verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS"
                modules="IsapiModule"
                scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll"
                preCondition="classicMode,runtimeVersionv4.0,bitness64"
                responseBufferLimit="0" />
        </handlers>
	<rewrite>
            <rewriteMaps>
                <rewriteMap name="rewrite" />
            </rewriteMaps>
            <rules>
                <clear />
                <!--<rule name="HTTP to HTTPS redirect" stopProcessing="true">
                  <match url="(.*)" />
                  <conditions>
                    <add input="{HTTPS}" pattern="off" ignoreCase="true" />
                  </conditions>
                  <action type="Redirect" redirectType="Found"
                          url="https://{HTTP_HOST}/{R:1}" />
                </rule>-->
                <rule name="tool">
                    <match url="^(.*)(VerifyMobile)$" />
                    <conditions>
                        <add input="{REQUEST_METHOD}" pattern="^POST$" />
                    </conditions>
                    <!-- <conditions logicalGrouping="MatchAll" trackAllCaptures="false" /> -->
                    <action type="Rewrite" url="./tool/VerifyMobile.php" />
                </rule>
                <rule name="tool2">
                    <match url="^(.*)(VerifyCode)$" />
                    <conditions>
                        <add input="{REQUEST_METHOD}" pattern="^POST$" />
                    </conditions>
                    <!-- <conditions logicalGrouping="MatchAll" trackAllCaptures="false" /> -->
                    <action type="Rewrite" url="./tool/VerifyConfirm.php" />
                </rule>
                <rule name="rewrite">
                    <match url="^(CathayNotify)$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="./NotifyAPI/CathayAPI.php" />
                </rule>
                <rule name="rewrite2">
                    <match url="^(SevenNotify|SevenCheckCode)$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="./NotifyAPI/711NotifyAPI.php" />
                </rule>
                <rule name="rewrite3">
                    <match url="^(FamilyNotify)$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="./NotifyAPI/FamilyMartAPI.php" />
                </rule>
                <rule name="rewrite4">
                    <match url="^(OKCheckCode|OKNotify)$" />
                    <!--<conditions>
                        <add input="{REQUEST_METHOD}" pattern="^POST$" />
                    </conditions>-->
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="./NotifyAPI/OKMartAPI.php" />
                </rule>
                <rule name="rewrite5">
                    <match url="^(IPCheck)$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="./NotifyAPI/IPCheck.php" />
                </rule>
                <rule name="rewrite6">
                    <match url="^(TCBNotify)$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="./NotifyAPI/TCBNotify.php" />
                </rule>
                <rule name="rewrite7">
                    <match url="^(admin/GASHNotify)$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="./NotifyAPI/GASHNotify.php" />
                </rule>
                <rule name="rewrite8">
                    <match url="^(PaySuccess)$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="./NotifyAPI/PaySuccess.php" />
                </rule>
                <rule name="rewrite9">
                    <match url="^(KGINotify)$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="./NotifyAPI/KgiNotifyAPI.php" />
                </rule>
                <rule name="rewrite10">
                    <match url="^(KGI12Notify)$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="./NotifyAPI/Kgi12NotifyAPI.php" />
                </rule>
                <rule name="rewrite11">
                    <match url="^(LihuoNotify)$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="./NotifyAPI/LihuoNotifyAPI.php" />
                </rule>
                <rule name="rewrite12">
                    <match url="^(CreditNotify)$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="./NotifyAPI/CreditAPI.php" />
                </rule>
                <rule name="rewrite13">
                    <match url="^(SevenBarcodeNotify|SevenBarcodeCheckCode)$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="./NotifyAPI/711BarcodeNotifyAPI.php" />
                </rule>
                <rule name="rewrite14">
                    <match url="^(HiLifeNotify|HiLifeCheckCode)$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="./NotifyAPI/711NotifyAPI.php" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
