<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers accessPolicy="Read, Script">
            <add name="PHP via FastCGI" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="C:\Program Files\PHP7\php-cgi.exe" resourceType="File" requireAccess="Script" />
	        <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
            <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
	</handlers>
	<rewrite>
            <rewriteMaps>
                <rewriteMap name="rewrite" />
            </rewriteMaps>
            <rules>
                <clear />
                <!--<rule name="HTTP to HTTPS redirect" stopProcessing="true">
                  <match url="(.*)" />
                  <conditions>
                    <add input="{HTTPS}" pattern="off" ignoreCase="true" />
                  </conditions>
                  <action type="Redirect" redirectType="Found"
                          url="https://{HTTP_HOST}/{R:1}" />
                </rule>-->
		        <rule name="tool">
                    <match url="^(.*)(VerifyMobile)$" />
                    <conditions>
                        <add input="{REQUEST_METHOD}" pattern="^POST$" />
                    </conditions>
                    <!-- <conditions logicalGrouping="MatchAll" trackAllCaptures="false" /> -->
                    <action type="Rewrite" url="./tool/VerifyMobile.php" />
                </rule>
                <rule name="tool2">
                    <match url="^(.*)(VerifyCode)$" />
                    <conditions>
                        <add input="{REQUEST_METHOD}" pattern="^POST$" />
                    </conditions>
                    <!-- <conditions logicalGrouping="MatchAll" trackAllCaptures="false" /> -->
                    <action type="Rewrite" url="./tool/VerifyConfirm.php" />
                </rule>
		        <rule name="Payment">
                     <match url="^(Credit-Pay)(.*)$" ignoreCase="false" />
                     <conditions>
                        <add input="{REQUEST_METHOD}" pattern="^POST$" />
                    </conditions>
    			    <action type="Rewrite" url="./CreditPayment.php" />
                    <serverVariables>
                        <set name="token" value="{R:2}" />
                    </serverVariables>
                </rule>
                <rule name="rewrite">
                    <match url="^(CathayNotify)$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="./NotifyAPI/CathayAPI.php" />
                </rule>
                <rule name="rewrite2">
                    <match url="^(SevenNotify|SevenCheckCode)$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="./NotifyAPI/711NotifyAPI.php" />
                </rule>
                <rule name="rewrite3">
                    <match url="^(FamilyNotify)$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="./NotifyAPI/FamilyMartAPI.php" />
                </rule>
                <rule name="rewrite4">
                    <match url="^(OKCheckCode|OKNotify)$" />
                    <!--<conditions>
                        <add input="{REQUEST_METHOD}" pattern="^POST$" />
                    </conditions>-->
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="./NotifyAPI/OKMartAPI.php" />
                </rule>
                <rule name="rewrite5">
                    <match url="^(IPCheck)$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="./NotifyAPI/IPCheck.php" />
                </rule>
                <rule name="rewrite6">
                    <match url="^(TCBNotify)$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="./NotifyAPI/TCBNotify.php" />
                </rule>
                <rule name="rewrite7">
                    <match url="^(admin/GASHNotify)$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="./NotifyAPI/GASHNotify.php" />
                </rule>
		        <rule name="rewrite8">
                    <match url="^(PaySuccess)$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="./NotifyAPI/PaySuccess.php" />
                </rule>
                <rule name="rewrite9">
                    <match url="^(KGINotify)$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="./NotifyAPI/KgiNotifyAPI.php" />
                </rule>
		        <rule name="rewrite10">
                    <match url="^(KGI12Notify)$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="./NotifyAPI/Kgi12NotifyAPI.php" />
                </rule>
		        <rule name="rewrite11">
                    <match url="^(LihuoNotify)$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="./NotifyAPI/LihuoNotifyAPI.php" />
                </rule>
		        <rule name="rewrite12">
                    <match url="^(SevenBarcodeNotify)$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="./NotifyAPI/711BarcodeNotifyAPI.php" />
                </rule>
		        <rule name="rewrite13">
                    <match url="^(HiLifeNotify|HiLifeCheckCode)$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="./NotifyAPI/HiLifeNotifyAPI.php" />
                </rule>
		        <rule name="rewrite14">
                    <match url="^(BesNotify)$" />
                    <conditions>
                        <add input="{REQUEST_METHOD}" pattern="^POST$" />
                    </conditions>
                    <!-- <conditions logicalGrouping="MatchAll" trackAllCaptures="false" /> -->
                    <action type="Rewrite" url="./NotifyAPI/BesNotifyAPI.php" />
                </rule>
                <rule name="rewrite15">
                    <match url="^(Humo)$" />
                    <conditions>
                        <add input="{REQUEST_METHOD}" pattern="^POST$" />
                    </conditions>
                    <!-- <conditions logicalGrouping="MatchAll" trackAllCaptures="false" /> -->
                    <action type="Rewrite" url="./NotifyAPI/HumoNotifyAPI.php" />
                </rule>
                <rule name="rewrite16">
                    <match url="^(CTBCNotify)$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="./NotifyAPI/CTBCNotifyAPI.php" />
                </rule>
                <rule name="rewrite17">
                    <match url="^(CcatNotify)$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="./NotifyAPI/CcatNotifyAPI.php" />
                </rule>
            </rules>
        </rewrite>
        <httpErrors errorMode="Custom">
            <remove statusCode="403" subStatusCode="-1" />
            <remove statusCode="404" subStatusCode="-1" />
            <error statusCode="404" prefixLanguageFilePath="" path="/notfound.html" responseMode="ExecuteURL" />
            <error statusCode="403" prefixLanguageFilePath="" path="/notfound.html" responseMode="ExecuteURL" />
        </httpErrors>
        <httpProtocol>
            <customHeaders>
                <remove name="X-Powered-By" />
                <remove name="X-Powered-By: PHP/7.4.13" />
                <remove name="x-powered-by:ARR/3.0" />
                <add name="X-XSS-Protection" value="1; mode:block" />
                <add name="X-Frame-Options" value="SAMEORIGIN" />       <add name="X-Content-Type-Options" value="nosniff" />
                <add name="Feature-Policy" value="camera 'none'" />
                <add name="Referrer-Policy" value="origin" />
                <add name="Strict-Transport-Security" value="max-age=31536000;includeSubDomains" />
            </customHeaders>
        </httpProtocol>
    </system.webServer>
</configuration>
